Bitwarden
Bitwarden*
Electron
Insomnia
JetBrains
MongoDB*
Slack
Thunar
autostart
btop
chromium
discord
eos-log-tool
flutter
gh
ghostty.bak
github-copilot
nvim-rely.bak
obs-studio
pritunl
obsidian
pulse
rustdesk
spicetify
spotify
tree-sitter
vesktop
xfce4
Kingsoft
Unknown Organization
aichat
cef_user_data
dconf
go
menus
fish/secrets.fish
fish/fish_variables
